<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" href="../styles/default.css">
    <title>template2</title>
  </head>
  <body>
    <form action="/docAnalysis">
      <h1> Input: </h1>
      <input type="text" name="userText"><br>
      <input type="submit" value="Submit">
    </form>
    <p> Click for Patient's Bill of Rights:  </p>
    <input type=button onClick="parent.location='https://clinicalcenter.nih.gov/participate/_pdf/bor.pdf'" value="English">
    <p> Haga clic para ver la Declaración de Derechos del Paciente: </p>
    <input type=button onClick="parent.location='https://clinicalcenter.nih.gov/participate/_pdf/bors.pdf'" value="Spanish">
</div>


</body>
</html>
